
{% if attributes.id != 'edit-preview' %}
<div class="form-group col-sm-5 col-md-4">
    <button type="submit" class="btn btn--primary type--uppercase">{{ 'Envoyer'|trans }}</button>
</div>
{% endif %}