@font-face {
    font-family: 'last_paradise';
    src: url('last_paradise-webfont.eot');
    src: url('last_paradise-webfont.eot?#iefix') format('embedded-opentype'),
         url('last_paradise-webfont.woff2') format('woff2'),
         url('last_paradise-webfont.woff') format('woff'),
         url('last_paradise-webfont.svg#last_paradiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}