{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

<section class="imagebg image--light cover cover-blocks bg--secondary section-breadcrumb">
    <div class="background-image-holder">
        <img alt="background" src="{{ imgBreadcrumbURL }}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-breadcrumb">
                <div>
                    {% if page.breadcrumb %}
                        {{ page.breadcrumb }}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
