<div class="pdw-bottom-footer col-xs-12">
    <div class="row">
        <div class="col-sm-6 col-xl-12 pdw-sign-left">
        </div>
        <div class="col-sm-6 col-xl-12 pdw-sign-right">
            <a id="produweb-link" style="text-decoration: none;" onclick="window.open(this.getAttribute('href'), '_blank').focus(); return false;" title="Agence Web" href="http://www.produweb.be">Création de sites Internet | ProduWeb &nbsp;<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAOCAYAAABO3B6yAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHpEAACAhQAA/vMAAIHwAAByEAAA6qMAADXMAAAeyXT+cmYAAAGeSURBVHjanJQxboMwFIb/+AQUdkRuQG4QOgQx0SlrqbJ0a25Q5QbJxoJEV5YmUxUGwg3CDWJlb+sjdHHQy4tr1HrC/H423yfzRjCM3X72DuABgAQwSeNa0fzr4/4IIATQAYjcpOnz82LuADhccr+oJrT2+fDpADgCCAB0wnD4VB8OvShkh2fkXchzXdvn58V8yvKl3hcAQmEQ8Mrmks1fyLPSFn6rV35RtZZ6KQz09IvLNK4loZ8y4pLpzwgdAGyY/gyAQ16tuIFHNl8N2NkM2Fnb7ADYCkIfAMjIgpbRh9yOmzSS0HM7W7+oFKO/spNHnhIWupWFzkQ/VM/trgFAaHrHQN8S+hs7btJ0hP7Gjl9UktDf3K088lT/AfrXoOPtj3T/tjPS9CdyO2Ua12NCz/POTZoJoQ903tvxiyoi9Dwv88h7ukyEVutY6JYs3wzQD/05V3ZHu/3sRG6nSuP6jnW+b2rHTZoxa7tXdmjrNdC3eeRFdH9haxy68djshAN2ggE7EKSVdrxxuEnTsnzL6jua+0VVGnJJ6Hlbxs8AsqSrxwHoMckAAAAASUVORK5CYII=" alt="Logo Produweb"></a>
        </div>
    </div>
</div>