@font-face {
    font-family: 'calluna';
    src: url('Calluna-Regular-webfont.eot');
    src: url('Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Calluna-Regular-webfont.woff2') format('woff2'),
         url('Calluna-Regular-webfont.woff') format('woff'),
         url('Calluna-Regular-webfont.ttf') format('truetype'),
         url('Calluna-Regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}