<div class="container">
    {% if page.featured_top %}
        {{ page.featured_top }}
    {% endif %}
    {% if page.content %}
        {{ page.content }}
    {% endif %}
    {% if page.featured_bottom_first %}
        {{ page.featured_bottom_first }}
    {% endif %}
</div>