{% include directory ~ '/templates/includes/header.html.twig' %}

<div class="main-container">
  {% include directory ~ '/templates/includes/custom-breadcrumb.html.twig' %}
  {% if page.content %}
    {{ page.content }}
  {% endif %}
  {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>