@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "breadcrumb";

fieldset{
  legend{
    font-size: 20px;
  }
  .fieldset-wrapper{
    legend{
      font-size: 14px;
    }
  }
}

.container--tasks{
  padding-bottom: 15px;
}