{% include directory ~ '/templates/includes/header.html.twig' %}
{% if page.featured_top %}
    {{ page.featured_top }}
{% endif %}
<div class="container">
    {% if page.content %}
        {{ page.content }}
    {% endif %}
</div>
{% include directory ~ '/templates/includes/footer.html.twig' %}