<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="masonry">
                    <div class="row">
                        <div class="masonry__container masonry--active">
                            {{ rows }}
                        </div>
                        <!--end of masonry container-->
                    </div>
                    <!--end row-->
                </div>
                <!--end masonry-->
            </div>
            {{ pager }}
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

